* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(22, 22, 22);
    color: #ffff;
}
section{
    margin: 0 auto;
    width: 80%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.title{
    font-size: 3rem;
    margin: 2rem 0rem;
}
.faq{
    max-width: 700px;
    margin-top: 2rem;
    /* padding-bottom: 1rem; */
    cursor: pointer;
    border-bottom: 1px solid #ffff;
}
.faq.active >.answer{
    max-height: 300px;
}
.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.question h3{
    font-size: 1.8rem;
}
.answer{
    overflow: hidden;
    max-height: 0;
    transition: max-height 1.4s ease;
}
.answer p{
    padding-top: 1rem;
    line-height: 1.6;
    font-size: 1.4rem;

}